<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>すけさん</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://twitter.github.com/bootstrap/1.3.0/bootstrap-dropdown.js"></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style>
      body {
        padding-top:60px;
      }
    </style>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a href="/" class="brand">すけさん</a>
          <ul class="nav">
            <li><a href="/top">ホーム</a></li>
            <li><a href="/about">このサイトについて</a></li>
            <li><a href="/help">ヘルプ</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>すけさん
            <small>
              簡単みんなのスケジュール調整ツール。
              今日も効率よくスケジュールを決めましょう。
            </small>
          </h1>
        </div>
        <%= yield %>
      </div>
      <footer>
      <small>&copy; copyright 2012 HappyHackingRuby</small>
      </footer>
    </div>
  </body>
</html>
